<!DOCTYPE html>
<html>

<head>
    <title>Search Results for "{{ query }}"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <div class="logo">⚡ ElectroShop</div>
        <div class="menu">
            <form method="get" action="{{ url_for('home') }}">
                <input type="text" name="q" placeholder="Search product..." value="{{ query }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <h2 style="text-align:center; color:#38bdf8;">Search Results for "{{ query }}"</h2>

    <div class="container">
        <div class="grid">
            {% if products %}
            {% for product in products %}
            <div class="card">
                <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p class="price">₹ {{ product.price }}</p>
                <a href="{{ url_for('pay_now', product_id=product.id) }}"><button>Pay Now</button></a>
            </div>
            {% endfor %}
            {% else %}
            <p style="color:white; text-align:center;">No products found.</p>
            {% endif %}
        </div>
    </div>

</body>

</html>